#nav {
    background-color: #fff;
}

@media (max-width: 639px) {
	.admin-user .admin__action-dropdown-menu {
		left: 0 !important;
	}
	
	.notifications-wrapper .admin__action-dropdown-menu {
		left: -132px !important;
	}

	.dashboard-advanced-reports {
		display: block !important;
		padding: 2.5rem 15px !important;
	}
	.dashboard-advanced-reports-actions {
		margin-top: 10px !important;
	}
}

@media (min-width: 640px) {
	.admin__field:not(.admin__field-option)>.admin__field-label:before {
		content: '.';
		position: absolute;
		background: none;
		height: 10px;
		width: 100%;
		display: block;
		top: 12px;
		opacity: .1;
	}
}