<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="netbaseteam_onestepcheckout" frontName="netbaseteam_onestepcheckout">
            <module name="Netbaseteam_Onestepcheckout" />
        </route>
    </router>
</config>
